In [125]:
import pandas as pd
import json
import numpy as np

In [126]:
df = pd.read_excel('NRC-Emotion-Lexicon-v0.92/NRC-Emotion-Lexicon-v0.92-In105Languages-Nov2017Translations.xlsx', index_col=0)

In [127]:
df.head()

,Afrikaans (af),Albanian (sq),Amharic (am),Arabic (ar),Armenian (hy),Azeerbaijani (az),Basque (eu),Belarusian (be),Bengali (bn),Bosnian (bs),...,Positive,Negative,Anger,Anticipation,Disgust,Fear,Joy,Sadness,Surprise,Trust
English (en),,,,,,,,,,,,,,,,,,,,,
aback,uit die veld geslaan,prapa,ተጭኗል,الى الوراء,շեղում,sanki,aback,ззаду,পশ্চাতে,aback,...,0,0,0,0,0,0,0,0,0,0
abacus,abakus,numërator,abacus,طبلية تاج,անբավարարություն,abacus,abako,абака,গণনা-যন্ত্রবিশেষ,abakus,...,0,0,0,0,0,0,0,0,0,1
abandon,verlaat,braktis,ውጣ,تخلى,լքել,tərk et,bertan behera,адмовіцца ад,বর্জিত করা,napuštanje,...,0,1,0,0,0,1,0,1,0,0
abandoned,verlate,braktisur,ተትቷል,مهجور,լքված,tərk etdi,abandonatutako,закінуты,পরিত্যক্ত,napušteno,...,0,1,1,0,0,1,0,1,0,0
abandonment,verlating,braktisje,ማቋረጥ,التخلي عن,հրաժարվելով,ləğv,abandono,пакіданне,বিসর্জন,napuštanje,...,0,1,1,0,0,1,0,1,1,0

In [128]:
df = df.reset_index(level='English (en)', col_level=1)

In [129]:
df.columns= df.columns.str.strip().str.lower()
df.columns

Index(['english (en)', 'afrikaans (af)', 'albanian (sq)', 'amharic (am)',
       'arabic (ar)', 'armenian (hy)', 'azeerbaijani (az)', 'basque (eu)',
       'belarusian (be)', 'bengali (bn)',
       ...
       'positive', 'negative', 'anger', 'anticipation', 'disgust', 'fear',
       'joy', 'sadness', 'surprise', 'trust'],
      dtype='object', length=115)

In [130]:
df.head()

,english (en),afrikaans (af),albanian (sq),amharic (am),arabic (ar),armenian (hy),azeerbaijani (az),basque (eu),belarusian (be),bengali (bn),...,positive,negative,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,aback,uit die veld geslaan,prapa,ተጭኗል,الى الوراء,շեղում,sanki,aback,ззаду,পশ্চাতে,...,0,0,0,0,0,0,0,0,0,0
1,abacus,abakus,numërator,abacus,طبلية تاج,անբավարարություն,abacus,abako,абака,গণনা-যন্ত্রবিশেষ,...,0,0,0,0,0,0,0,0,0,1
2,abandon,verlaat,braktis,ውጣ,تخلى,լքել,tərk et,bertan behera,адмовіцца ад,বর্জিত করা,...,0,1,0,0,0,1,0,1,0,0
3,abandoned,verlate,braktisur,ተትቷል,مهجور,լքված,tərk etdi,abandonatutako,закінуты,পরিত্যক্ত,...,0,1,1,0,0,1,0,1,0,0
4,abandonment,verlating,braktisje,ማቋረጥ,التخلي عن,հրաժարվելով,ləğv,abandono,пакіданне,বিসর্জন,...,0,1,1,0,0,1,0,1,1,0

Qua seleziono la lingua!!

In [131]:
lingua = 'italian (it)'

In [132]:
df_s = df[[lingua,'positive', 'negative', 'anger', 'anticipation', 'disgust', 'fear',
       'joy', 'sadness', 'surprise', 'trust']]
df_s.head()

,italian (it),positive,negative,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,dietro,0,0,0,0,0,0,0,0,0,0
1,abaco,0,0,0,0,0,0,0,0,0,1
2,abbandono,0,1,0,0,0,1,0,1,0,0
3,abbandonato,0,1,1,0,0,1,0,1,0,0
4,abbandono,0,1,1,0,0,1,0,1,1,0

In [133]:
def checkSentiment(x):
    columns = ['positive', 'negative', 'anger', 'anticipation', 'disgust', 'fear',
       'joy', 'sadness', 'surprise', 'trust']
    sentiments = []
    for col in columns:
       if (x[col] == 1):
        sentiments.append(col)  
    return sentiments

In [134]:
df_s['sentiments'] = df_s.apply(checkSentiment, axis=1)
df_s

/var/folders/v4/x4q9pqb51b90_dmhz4dg_5q40000gn/T/ipykernel_61248/374233428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_s['sentiments'] = df_s.apply(checkSentiment, axis=1)

,italian (it),positive,negative,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,sentiments
0,dietro,0,0,0,0,0,0,0,0,0,0,[]
1,abaco,0,0,0,0,0,0,0,0,0,1,[trust]
2,abbandono,0,1,0,0,0,1,0,1,0,0,"[negative, fear, sadness]"
3,abbandonato,0,1,1,0,0,1,0,1,0,0,"[negative, anger, fear, sadness]"
4,abbandono,0,1,1,0,0,1,0,1,1,0,"[negative, anger, fear, sadness, surprise]"
...,...,...,...,...,...,...,...,...,...,...,...,...
14177,zona,0,0,0,0,0,0,0,0,0,0,[]
14178,zoo,0,0,0,0,0,0,0,0,0,0,[]
14179,zoologico,0,0,0,0,0,0,0,0,0,0,[]
14180,zoologia,0,0,0,0,0,0,0,0,0,0,[]
14181,zoom,0,0,0,0,0,0,0,0,0,0,[]

In [147]:
df_l=df_s[[lingua,'sentiments']]
df_l

      italian (it)                                  sentiments
0           dietro                                          []
1            abaco                                     [trust]
2        abbandono                   [negative, fear, sadness]
3      abbandonato            [negative, anger, fear, sadness]
4        abbandono  [negative, anger, fear, sadness, surprise]
...            ...                                         ...
14177         zona                                          []
14178          zoo                                          []
14179    zoologico                                          []
14180     zoologia                                          []
14181         zoom                                          []

[14182 rows x 2 columns]

Cambio nome alla colonna

In [148]:
abbr = 'it' 
df_l = df_l.rename(columns={lingua : abbr})
df_l.columns

Index(['it', 'sentiments'], dtype='object')

Elimino le liste vuote

In [159]:
df_l.sentiments = df_l.sentiments.apply(lambda y: np.nan if len(y)==0 else y)
df_l.it = df_l.it.apply(lambda y: np.nan if y=='NO TRANSLATION' else y)
df_l.head()

            it                                  sentiments
1        abaco                                     [trust]
2    abbandono                   [negative, fear, sadness]
3  abbandonato            [negative, anger, fear, sadness]
4    abbandono  [negative, anger, fear, sadness, surprise]
7         abba                                  [positive]

In [177]:
df_l.dropna(subset=['sentiments'], inplace=True)
df_l.head()

            it                                  sentiments
1        abaco                                     [trust]
2    abbandono                   [negative, fear, sadness]
3  abbandonato            [negative, anger, fear, sadness]
4    abbandono  [negative, anger, fear, sadness, surprise]
7         abba                                  [positive]

In [186]:
a = df_l.loc[df_l['it'] == 'compatibile']
a

               it  sentiments
2416  compatibile  [positive]

In [192]:
print(df_l.loc[[2415]])

                 it  sentiments
2415  Compatibilità  [positive]

In [178]:
dict = pd.Series(df_l.sentiments.values,index=df_l.it).to_dict()

In [180]:
with open('nrc_ita.json', 'w') as fp:
    json.dump(dict, fp,  indent=4)

In [181]:
nrc_ita = json.load(open("nrc_ita.json"))
new_data = {key.lower():value for key, value in nrc_ita.items()}

In [182]:
with open("nrc_ita.json", "w") as fp:
    json.dump(new_data, fp, indent=4, sort_keys = True)

Read json dictionary